/**
* The :global() function is used to access global classes.
*/

.keen-carousel {
  display: flex;
}

.keen-carousel > :global(.keen-carousel-slide) {
  --keen-carousel-slide-width: calc(
    100% / var(--initial-view) -
      calc(var(--initial-gap) / var(--initial-view) * (var(--initial-view) - 1))
  );

  min-width: var(--keen-carousel-slide-width);
  max-width: var(--keen-carousel-slide-width);
}

.keen-carousel > :global(.keen-carousel-slide) {
  --keen-carousel-slide-gap: var(--initial-gap);
}

@screen sm {
  .keen-carousel :global(.keen-carousel-slide) {
    --keen-carousel-slide-width: calc(
      100% / var(--sm-view) -
        calc(var(--sm-gap) / var(--sm-view) * (var(--sm-view) - 1))
    );
    --keen-carousel-slide-gap: var(--sm-gap);
  }
}

@screen md {
  .keen-carousel :global(.keen-carousel-slide) {
    --keen-carousel-slide-width: calc(
      100% / var(--md-view) -
        calc(var(--md-gap) / var(--md-view) * (var(--md-view) - 1))
    );
    --keen-carousel-slide-gap: var(--md-gap);
  }
}

@screen lg {
  .keen-carousel :global(.keen-carousel-slide) {
    --keen-carousel-slide-width: calc(
      100% / var(--lg-view) -
        calc(var(--lg-gap) / var(--lg-view) * (var(--lg-view) - 1))
    );
    --keen-carousel-slide-gap: var(--lg-gap);
  }
}

@screen xl {
  .keen-carousel :global(.keen-carousel-slide) {
    --keen-carousel-slide-width: calc(
      100% / var(--xl-view) -
        calc(var(--xl-gap) / var(--xl-view) * (var(--xl-view) - 1))
    );
    --keen-carousel-slide-gap: var(--xl-gap);
  }
}

@screen 2xl {
  .keen-carousel :global(.keen-carousel-slide) {
    --keen-carousel-slide-width: calc(
      100% / var(--2xl-view) -
        calc(var(--2xl-gap) / var(--2xl-view) * (var(--2xl-view) - 1))
    );
    --keen-carousel-slide-gap: var(--2xl-gap);
  }
}

/* TODO: Explain this logic, it does not seem scalable */
/* Assuming a maximum of 12 slides for the carousel case */
.keen-carousel :global(.keen-carousel-slide):nth-child(1) {
  transform: translate3d(0px, 0px, 0px);
}
.keen-carousel :global(.keen-carousel-slide):nth-child(2) {
  transform: translate3d(var(--keen-carousel-slide-gap), 0px, 0px);
}
.keen-carousel :global(.keen-carousel-slide):nth-child(3) {
  transform: translate3d(calc(var(--keen-carousel-slide-gap) * 2), 0px, 0px);
}
.keen-carousel :global(.keen-carousel-slide):nth-child(4) {
  transform: translate3d(calc(var(--keen-carousel-slide-gap) * 3), 0px, 0px);
}
.keen-carousel :global(.keen-carousel-slide):nth-child(5) {
  transform: translate3d(calc(var(--keen-carousel-slide-gap) * 4), 0px, 0px);
}
.keen-carousel :global(.keen-carousel-slide):nth-child(6) {
  transform: translate3d(calc(var(--keen-carousel-slide-gap) * 5), 0px, 0px);
}
.keen-carousel :global(.keen-carousel-slide):nth-child(7) {
  transform: translate3d(calc(var(--keen-carousel-slide-gap) * 6), 0px, 0px);
}
.keen-carousel :global(.keen-carousel-slide):nth-child(8) {
  transform: translate3d(calc(var(--keen-carousel-slide-gap) * 7), 0px, 0px);
}
.keen-carousel :global(.keen-carousel-slide):nth-child(9) {
  transform: translate3d(calc(var(--keen-carousel-slide-gap) * 8), 0px, 0px);
}
.keen-carousel :global(.keen-carousel-slide):nth-child(10) {
  transform: translate3d(calc(var(--keen-carousel-slide-gap) * 9), 0px, 0px);
}
.keen-carousel :global(.keen-carousel-slide):nth-child(11) {
  transform: translate3d(calc(var(--keen-carousel-slide-gap) * 10), 0px, 0px);
}
.keen-carousel :global(.keen-carousel-slide):nth-child(12) {
  transform: translate3d(calc(var(--keen-carousel-slide-gap) * 11), 0px, 0px);
}
