.people-carousel {
  --active-item: 0;
  --scroll-left: calc(var(--active-item) * -268px);

  @screen md {
    --scroll-left: calc(var(--active-item) * -152px);
  }

  @screen lg {
    --scroll-left: calc(var(--active-item) * -184px);
  }

  @screen xl {
    --scroll-left: calc(var(--active-item) * -204px);
  }

  transform: translate3d(var(--scroll-left), 0px, 0px);
}
