@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-*: initial;
  --font-primary:
    var(--font-primary), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

.section-padding-primary {
  @apply py-15 md:py-25 xl:py-30;
}

/* Keen Carousel Initial Style */
.keen-carousel {
  display: flex;
}

.keen-carousel .keen-carousel-slide {
  --carousel-slide-gap: var(--initial-gap);
  --carousel-slide-width: calc(
    100% / var(--initial-view) -
      calc(var(--initial-gap) / var(--initial-view) * (var(--initial-view) - 1))
  );

  min-width: var(--carousel-slide-width);
  max-width: var(--carousel-slide-width);

  @media (width >= theme(--breakpoint-sm)) {
    --carousel-slide-gap: var(--sm-gap);
    --carousel-slide-width: calc(
      100% / var(--sm-view) -
        calc(var(--sm-gap) / var(--sm-view) * (var(--sm-view) - 1))
    );
  }

  @media (width >= theme(--breakpoint-md)) {
    --carousel-slide-gap: var(--md-gap);
    --carousel-slide-width: calc(
      100% / var(--md-view) -
        calc(var(--md-gap) / var(--md-view) * (var(--md-view) - 1))
    );
  }

  @media (width >= theme(--breakpoint-lg)) {
    --carousel-slide-gap: var(--lg-gap);
    --carousel-slide-width: calc(
      100% / var(--lg-view) -
        calc(var(--lg-gap) / var(--lg-view) * (var(--lg-view) - 1))
    );
  }

  @media (width >= theme(--breakpoint-xl)) {
    --carousel-slide-gap: var(--xl-gap);
    --carousel-slide-width: calc(
      100% / var(--xl-view) -
        calc(var(--xl-gap) / var(--xl-view) * (var(--xl-view) - 1))
    );
  }

  @media (width >= theme(--breakpoint-2xl)) {
    --carousel-slide-gap: var(--2xl-gap);
    --carousel-slide-width: calc(
      100% / var(--2xl-view) -
        calc(var(--2xl-gap) / var(--2xl-view) * (var(--2xl-view) - 1))
    );
  }
}

/* Assuming a maximum of 10 slides for the carousel case */
.keen-carousel .keen-carousel-slide:nth-child(1) {
  transform: translate3d(0px, 0px, 0px);
}
.keen-carousel .keen-carousel-slide:nth-child(2) {
  transform: translate3d(var(--carousel-slide-gap), 0px, 0px);
}
.keen-carousel .keen-carousel-slide:nth-child(3) {
  transform: translate3d(calc(var(--carousel-slide-gap) * 2), 0px, 0px);
}
.keen-carousel .keen-carousel-slide:nth-child(4) {
  transform: translate3d(calc(var(--carousel-slide-gap) * 3), 0px, 0px);
}
.keen-carousel .keen-carousel-slide:nth-child(5) {
  transform: translate3d(calc(var(--carousel-slide-gap) * 4), 0px, 0px);
}
.keen-carousel .keen-carousel-slide:nth-child(6) {
  transform: translate3d(calc(var(--carousel-slide-gap) * 5), 0px, 0px);
}
.keen-carousel .keen-carousel-slide:nth-child(7) {
  transform: translate3d(calc(var(--carousel-slide-gap) * 6), 0px, 0px);
}
.keen-carousel .keen-carousel-slide:nth-child(8) {
  transform: translate3d(calc(var(--carousel-slide-gap) * 7), 0px, 0px);
}
.keen-carousel .keen-carousel-slide:nth-child(9) {
  transform: translate3d(calc(var(--carousel-slide-gap) * 8), 0px, 0px);
}
.keen-carousel .keen-carousel-slide:nth-child(10) {
  transform: translate3d(calc(var(--carousel-slide-gap) * 9), 0px, 0px);
}
